#QuintaSeccion {
    margin: 60px 250px 0;
}

#QuintaSeccion h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    margin: 0;
}

#QuintaSeccion hr {
    background-color: #F2E205;
    height: 2px;
    width: 110px;
    border: 0;
    margin: auto;
    margin-top: 5px;
    opacity:initial;
}

#QuintaSeccion h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 150%;
}

.DireccionYRedes p {
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
}

.linksRedes p {
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
    font-weight: 400;
}

.linksRedes div {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.DireccionYRedes h3 {
    color: #F2E205;
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
}

.SeccionesContacto {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

@media screen and (max-width: 1680px) {

    #QuintaSeccion {
        margin: 60px 50px 0;
    }
}

@media screen and (max-width: 414px) {
    #QuintaSeccion {
        margin: 20px 16px 0;
    }

    #QuintaSeccion h2 {
        font-size: 25px;
    }

    #QuintaSeccion hr {
        width: 55px;
    }

    #QuintaSeccion h3 {
        font-size: 20px;
    }

    .DireccionYRedes p {
        font-size: 15px;
    }

    .SeccionesContacto {
        display: inline-block;
        margin-top: 15px;
    }

    .linksRedes div {
        margin: 20px 0;
    }

    .linksRedes div svg {
        width: 25px;
        height: 25px;
    }

    #divMapa {
        display: flex;
    }

    #mapa {
        width: 100%;
        height: 300px;
    }
}