#TerceraSeccion {
    margin: 60px 255px 0;
}

#TerceraSeccion h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    margin: 0;
}

#TerceraSeccion hr {
    background-color: #F2E205;
    height: 2px;
    width: 104px;
    border: 0;
    margin: auto;
    margin-top: 5px;
    opacity:initial;
}

#ImagenesVideos {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#ImagenesVideos p {
    color: #0D0D0D;
    text-align:center;
    font-size: 24px;
    font-weight: 400;
    opacity: 50%;
    margin-bottom: 0;
}

#ImagenesVideos .active {
    color: #0B368C;
    text-align:center;
    font-size: 24px;
    font-weight: 500;
    opacity: 100;
    margin-bottom: 0;
}

#ImagenesVideos:hover {
    cursor: default;
}

#videos {
    margin-left: 29px;
}

.gridGaleria {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    margin-top: 35px;
    justify-content: space-between;
}

.gridGaleria figcaption {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}

.gridGaleria figure {
    margin-bottom: 0;
}

.gridGaleria .fila1 {
    margin-bottom: 37px;
}

.gridGaleria img {
    width: 18.75em;
    height: 18.75em;
    object-fit: cover;
}


.gridGaleriaVideos {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    margin-top: 35px;
    justify-content: space-between;
}

.gridGaleriaVideos .gridGaleriaVideos__video {
    margin-right: 70px;
    margin-bottom: 0px;
    max-height: 423px;
}

.gridGaleriaVideos figure {
    margin-bottom: 10px;
}

.gridGaleriaVideos div video {
    max-width: 670px;
    max-height: 670px;
}

#GaleriaVideos figcaption {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 1680px) {
    #TerceraSeccion {
        margin: 60px 150px 0;
    }

    .gridGaleria img {
        width: 18.75em;
        height: 18.75em;
        object-fit: cover;
    }

    .gridGaleriaVideos .gridGaleriaVideos__video {
        margin-right: 0px;
        margin-bottom: 0px;
        max-height: 423px;
    }
}

@media screen and (max-width: 1440px) {
    #TerceraSeccion {
        margin: 60px 50px 0;
    }

    .gridGaleria .gridGaleria__img {
        margin-right: 63px;
    }

    .gridGaleria img {
        width: 16.813em;
        height: 16.813em;
        object-fit: cover;
    }

    .gridGaleriaVideos div video {
        width: 600px;
        height: auto;
    }
}

@media screen and (max-width: 414px) {

    #TerceraSeccion {
        margin: 20px 16px 0;
    }

    #TerceraSeccion h2 {
        font-size: 25px;
    }

    #TerceraSeccion hr {
        width: 52px;
    }

    #ImagenesVideos {
        margin-top: 20px;
    }

    #ImagenesVideos p {
        font-size: 15px;
    }

    #ImagenesVideos .active {
        font-size: 15px;
    }

    .gridGaleria {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        margin-top: 15px;
        justify-content: center;
    }

    .gridGaleria .gridGaleria__img {
        margin-right: 0px;
    }

    .gridGaleria img {
        width: auto;
        height: 278px;
        object-fit: cover;
    }

    .gridGaleria .fila1 {
        margin-bottom: 20px;
    }

    .gridGaleria figure {
        margin-bottom: 20px;
    }

    .gridGaleria figcaption {
        font-size: 15px;
    }


    .gridGaleriaVideos {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        margin-top: 15px;
        justify-content: center;
    }

    .gridGaleriaVideos div video {
        width: 382px;
        height: auto;
    }

    .gridGaleriaVideos figure {
        margin-bottom: 20px;
    }

    #GaleriaVideos figcaption {
        font-size: 15px;
        margin-top: 5px;
    }
}