body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    /* scroll-behavior:auto; */
}

body::-webkit-scrollbar {
    display: none;
}

/* Todo lo relacionado al navbar */


/* Todo lo relacionado a la prinmera seccion de la web */

/* */

/* Todo lo relacionado a la segunda seccion de la web  */



/* Todo lo relacionado a la tercera seccion de la web  */



#CuartaSeccion h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    margin: 0;
}

#CuartaSeccion hr {
    background-color: #F2E205;
    height: 2px;
    width: 120px;
    border: 0;
    margin: auto;
    margin-top: 5px;
    opacity:initial;
}

#CuartaSeccion {
    margin: 50px 250px 0;
}

.list-group {
    margin-top: 35px;
}

.list-group-item {
    font-size: 24px;
}

.list-group .active {
    display: flex;
    justify-content: center;
}

#QuintaSeccion {
    margin: 60px 250px 0;
}

#QuintaSeccion h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    margin: 0;
}

#QuintaSeccion hr {
    background-color: #F2E205;
    height: 2px;
    width: 110px;
    border: 0;
    margin: auto;
    margin-top: 5px;
    opacity:initial;
}

#QuintaSeccion h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 150%;
}

.DireccionYRedes p {
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
}

.linksRedes p {
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
    font-weight: 400;
}

.linksRedes div {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.DireccionYRedes h3 {
    color: #F2E205;
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
}

.SeccionesContacto {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

footer {
    background-color: #0D0D0D;
    margin-top: 60px;
    padding: 40px 0;
}

.elFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 250px;
}

.elFooter_logo img {
    object-fit:cover;
    height: 110px;
    width: 110px;
}

.IconosFooter {
    display: flex;
}

.IconosFooter__icon {
    margin-right: 40px;
}




































/* @media only screen and (max-width: 1919px) {
    nav {
        padding: 40px 200px 40px 200px;
    }

    #itemsNav {
        margin-left: 330px;
    }

    #fondo {
        padding: 235px 200px 0px 200px;
    }
} */